<!DOCTYPE html>
<html>
  <head>
		<%= javascript_include_tag "leaflet" %>
		<%= stylesheet_link_tag "leaflet", media: "all" %>
		
    <title>Create</title>
  </head>
  <body>
  <form name='mainForm'>
  <input type='text' name='route' style='width:70em' value='nj ny pa'>  
  <input type="button" value="Create" onclick="addPoint(1)">
  
  </form>
  
  
  <div id="divMap" style='height: 600px;'>
	<noscript>This site makes heavy use of javascript.</noscript> 
	<script>
		var map = L.map('divMap').setView([40.69,-98.21], 5);
		
		//Create the map	
		L.tileLayer('http://tile.cloudmade.com/f19d6045b0ac4f68bc75b707ac14e3dd/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Odin'
		}).addTo(map);
		var SmallIcon = L.Icon.extend({ //smaller junction icon
			options: {
			iconSize:	 [6, 6], // size of the icon
			iconAnchor:   [3, 3], // point of the icon which will correspond to marker's location
			popupAnchor:  [0, -3] // point from which the popup should open relative to the iconAnchor
			}
		});

		var iconHp = new SmallIcon({iconUrl: "<%= asset_path('icons/hps.png') %>"})
		
		//Add markers of various types:
		var marker = L.marker([40.69,-98.21]).addTo(map);
		
		<% @points.each do |point| %>
			var point_<%= point.id %> = L.marker([<%= point.lat %>, <%= point.long %>], {
				id: <%= point.id %>, title: '<%= point.name %>', height: <%= point.height %>, icon: iconHp
				}).addTo(map);
			
			point_<%= point.id %>.on('click', function (e) {clickMarker(<%= point.id %>, point_<%= point.id %>);});
		<% end %>
		function clickMarker(x, y){};
		
	</script>
	
	
	
	</div>
  </body>
</html>




