<head>
	<meta charset="UTF-8">
	<%= javascript_include_tag "leaflet" %>
	<%= javascript_include_tag "leaflet-providers" %>
	<%= stylesheet_link_tag "leaflet", media: "all" %>
	<%= stylesheet_link_tag "create", media: "all" %>
	<%= csrf_meta_tags %>
  <title>Create an Itinerary</title>
</head>
<body>



<div class="mainbox row">
<form name='mainForm'>
<input type='text' name='route' style='width:98%' value='nj ny pa'><br>
</div>
<div class="options row">
Daily Start Time: <input type='text' name='stime' style='width:3em' value='6'>&nbsp;
Daily End Time: <input type='text' name='etime' style='width:3em' value='20'>&nbsp;
Driving Time Scale: <input type='text' name='dtime' style='width:3em' value='1'>&nbsp;
Hiking Time Scale: <input type='text' name='htime' style='width:3em' value='1'>&nbsp;
Overhead Time: <input type='text' name='otime' style='width:3em' value='5'>&nbsp;
</div>

<div class="buttons row">
<input type="button" value="Create" onclick="makeRoute()">
&nbsp;&nbsp;&nbsp;
<input type="button" value="Reverse" onclick="reverseRoute()">
&nbsp;&nbsp;&nbsp;
<input type="button" value="Clear" onclick="clearRoute()">
&nbsp;&nbsp;&nbsp;


<% @trips.each do |trip| %>
	<input type="button" value="<%= trip.name %>" onclick='changeRoute("<%= trip.route %>")'>
<% end %>



</form>
</div>
<div id="divMap" class="body row">
<noscript>This site makes heavy use of javascript.</noscript> 
<script>
	var map = L.map('divMap').setView([40.69,-98.21], 5);
	
	//Create the map	
	L.tileLayer('http://tile.cloudmade.com/f19d6045b0ac4f68bc75b707ac14e3dd/997/256/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Odin'
	}).addTo(map);
	var SmallIcon = L.Icon.extend({ //smaller junction icon
		options: {
		iconSize:	 [8, 8], // size of the icon
		iconAnchor:   [4, 4], // point of the icon which will correspond to marker's location
		popupAnchor:  [0, -4] // point from which the popup should open relative to the iconAnchor
		}
	});
	
	
	var baseLayers = {"OpenStreetMap (trails)": L.tileLayer.provider('OpenStreetMap.Mapnik')};
	L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
	
	

	var iconHp = new SmallIcon({iconUrl: "<%= asset_path('icons/hps.png') %>"})
	var iconCity = new SmallIcon({iconUrl: "<%= asset_path('icons/cities.png') %>"})
	
	//Add markers of various types:
	<% @points.each do |point| %>
		<% if point.hp == 1 %>
			var point_<%= point.id %> = L.marker([<%= point.lat %>, <%= point.long %>], {
				id: <%= point.id %>, title: '<%= point.name %>', abv: '<%= point.short_name %>', height: <%= point.height %>, icon: iconHp
				}).addTo(map);
			point_<%= point.id %>.on('click', function (e) {clickMarker(<%= point.id %>, point_<%= point.id %>);});
		<% else %>
			var point_<%= point.id %> = L.marker([<%= point.lat %>, <%= point.long %>], {
				id: <%= point.id %>, title: '<%= point.name %>', abv: '<%= point.short_name %>', icon: iconCity
				}).addTo(map);
			point_<%= point.id %>.on('click', function (e) {clickMarker(<%= point.id %>, point_<%= point.id %>);});
		<% end %>
	<% end %>
	
	
	
	function clickMarker(id, point){
		addToRoute(point.options.abv);
		
	};
	
	function addToRoute(abv){
		mainForm.route.value += ' '+abv;
	}
	
	function clearRoute(){
		mainForm.route.value = '';
	}
	
	function changeRoute(route){
		mainForm.route.value = route;
	}
	
	function convert24Hour(time)
	{
		if (time.indexOf('p') > 0)
		{//pm
			time = Number(time.replace(/\D/g, ''));
			time += 12;
		}
		else
		{//am
			time = Number(time.replace(/\D/g, ''));
		}
		return time;
	}
	
	function reverseRoute()
	{
		var listPoints = mainForm.route.value;
		listPoints = listPoints.replace(/^[^a-zA-Z]+/, ''); //leading spaces
		listPoints = listPoints.replace(/[^a-zA-Z]+$/, ''); //trailing spaces
		listPoints = listPoints.replace(/[^a-zA-Z]+/g, ';');
		listPoints = listPoints.split(';').reverse().join(';');
		mainForm.route.value = listPoints;
	}
	
	function makeRoute()
	{
		var listPoints = mainForm.route.value;
		var startTime = convert24Hour(mainForm.stime.value);
		var endTime = convert24Hour(mainForm.etime.value);
		var hikeScale = mainForm.htime.value;
		var driveScale = mainForm.dtime.value;
		var overheadTime = mainForm.otime.value;
		
		listPoints = listPoints.replace(/^[^a-zA-Z]+/, ''); //leading spaces
		listPoints = listPoints.replace(/[^a-zA-Z]+$/, ''); //trailing spaces
		listPoints = listPoints.replace(/[^a-zA-Z]+/g, ';');
		
		var requestUrl = '/display/'+listPoints+'?';
		if (startTime != 6) requestUrl += '&s='+startTime;
		if (endTime != 20) requestUrl += '&e='+endTime;
		if (hikeScale != 1) requestUrl += '&h='+hikeScale;
		if (driveScale != 1) requestUrl += '&d='+driveScale;
		if (overheadTime != 5) requestUrl += '&o='+overheadTime;
		requestUrl = requestUrl.replace(/\?$/, ''); //remove trailing ? if no parameters are passed
		
		window.location.href = requestUrl;
	}
	
	
	
	
	
</script>



</div>
</body>




