<!DOCTYPE html>
<html>
  <head>
		<%= javascript_include_tag "leaflet" %>
		<%= javascript_include_tag "leaflet-providers" %>
		<%= stylesheet_link_tag "leaflet", media: "all" %>
		
    <title>Create</title>
  </head>
  <body>
  <form name='mainForm'>
  <input type='text' name='route' style='width:70em' value='nj ny pa'>  
  <input type="button" value="Create" onclick="addPoint(1)">
  <input type="button" value="Clear" onclick="clearRoute()">
  
  </form>
  
  
  <div id="divMap" style='height: 600px;'>
	<noscript>This site makes heavy use of javascript.</noscript> 
	<script>
		var map = L.map('divMap').setView([40.69,-98.21], 5);
		
		//Create the map	
		L.tileLayer('http://tile.cloudmade.com/f19d6045b0ac4f68bc75b707ac14e3dd/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Odin'
		}).addTo(map);
		var SmallIcon = L.Icon.extend({ //smaller junction icon
			options: {
			iconSize:	 [8, 8], // size of the icon
			iconAnchor:   [4, 4], // point of the icon which will correspond to marker's location
			popupAnchor:  [0, -4] // point from which the popup should open relative to the iconAnchor
			}
		});
		
		
		var baseLayers = {"OpenStreetMap (trails)": L.tileLayer.provider('OpenStreetMap.Mapnik')};
		L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);
		
		

		var iconHp = new SmallIcon({iconUrl: "<%= asset_path('icons/hps.png') %>"})
		
		//Add markers of various types:
		<% @points.each do |point| %>
			var point_<%= point.id %> = L.marker([<%= point.lat %>, <%= point.long %>], {
				id: <%= point.id %>, title: '<%= point.name %>', abv: '<%= point.short_name %>', height: <%= point.height %>, icon: iconHp
				}).addTo(map);
			
			point_<%= point.id %>.on('click', function (e) {clickMarker(<%= point.id %>, point_<%= point.id %>);});
		<% end %>
		
		
		
		function clickMarker(id, point){
			addToRoute(point.options.abv);
			
		};
		
		function addToRoute(abv){
			mainForm.route.value += ' '+abv;
		}
		
		function clearRoute(){
			mainForm.route.value = '';
		}
		
		
		
		
		
		
		
		
		
	</script>
	
	
	
	</div>
  </body>
</html>




