<!DOCTYPE html>
<html>
  <head>
		<%= javascript_include_tag "leaflet-providers" %>
		<%= stylesheet_link_tag "create", media: "all" %>
		
    <title>Display</title>
  </head>
  <body>
	<% currentTime = @startTime %>
	<% currentDay = 1 %>
	<% startDay = Date.today %>
	
	<table><thead>
		<tr><td>Task</td><td>Start Time</td><td>End Time</td><td>Duration</td><td>Distance</td><td>Link</td></tr>
	</thead><tbody><tr><td colspan="6"><%= DateString(currentDay, startDay) %></td></tr>
	<% @points.each_with_index do |point, index| %>
		<% if @hikes[index].hp == 1 %>
			<% hikeDuration = minsToHours(@hikes[index].hike) * @hScale %>
			<% if !@points.to_a[index+1].nil? %>
				<% hikeDuration *= 2 %>
				<% hikeDistance = @hikes[index].distance * 2 %>
				<% title = "Hike #{@hikes[index].name}, #{@hikes[index].short_name} (RT)" %>
			<% else %>
				<% hikeDistance = @hikes[index].distance %>
				<% title = "Hike #{@hikes[index].name}, #{@hikes[index].short_name} (One Way)" %>
				
			<% end %>
			<% afterTime = currentTime + hikeDuration %>
			<% if afterTime >= @endTime %>
				<% currentDay += 1 %>
				<% currentTime = @startTime %>
				<% afterTime = currentTime + hikeDuration %>
				<tr><td colspan="6">&nbsp;</td></tr>
				<tr><td colspan="6"><%= DateString(currentDay, startDay) %></td></tr>
			<% end %>
			
			<tr><td>Hike <%= title %></td><td><%= readableHour(currentTime) %></td>
			<td><%= readableHour(afterTime) %></td><td><%= hikeDuration %></td><td><%= hikeDistance %></td></tr>
			<% currentTime = afterTime %>
		<% end %>
		
		
		
		<% if @points.to_a[index+1].nil? then break end %>
		<% nextPoint = @points.to_a[index+1] %>
		<% driveDuration = minsToHours(@segments[index].time) * @dScale %>
		<% afterTime = currentTime + driveDuration %>
		<% if afterTime >= @endTime %>
			<% currentDay += 1 %>
			<% currentTime = @startTime %>
			<% afterTime = currentTime + driveDuration %>
			<tr><td colspan="6">&nbsp;</td></tr>
			<tr><td colspan="6"><%= DateString(currentDay, startDay) %></td></tr>
			<% while afterTime >= @endTime do %>
				<tr><td>Drive <%= point %> to <%= nextPoint %></td><td><%= readableHour(@startTime) %></td>
				<td><%= readableHour(@endTime) %></td><td><%= readableHour(@endTime - @startTime) %></td><td>&nbsp;</td></tr>
				
				<% currentDay += 1 %>
				<% driveDuration -= @endTime - @startTime %>
				<% driveDuration = roundTo(driveDuration, 2) %>
				<% afterTime = @startTime + driveDuration %>
				<tr><td colspan="6">&nbsp;</td></tr>
				<tr><td colspan="6"><%= DateString(currentDay, startDay) %></td></tr>
			<% end %>
		<% end %>
		
		
		<tr><td>Drive <%= point %> to <%= nextPoint %></td><td><%= readableHour(currentTime) %></td>
		<td><%= readableHour(afterTime) %></td><td><%= driveDuration %></td><td><%= @segments[index].distance %></td></tr>
		<% currentTime = afterTime %>
		
		
		
		
		
		
	<% end %>
	
	
	</table>
	
	<br><br>
	<a href= "../create">Create new itinerary</a>
  </body>
</html>




