<!DOCTYPE html>
<html>
  <head>
		<%= javascript_include_tag "leaflet-providers" %>
		<%= stylesheet_link_tag "create", media: "all" %>
		
    <title>Display</title>
  </head>
  <body>
	<% @points.each_with_index do |point, index| %>
		<% if @points.to_a[index+1].nil? then break end %>
		<%= point %> to <%= @points.to_a[index+1] %>: 
		<%= @segments[index].time %>
		<%= @segments[index].distance %>
		<br>
	<% end %>

  </body>
</html>




